{
    "plugins": [
        [
            "auto-import",
            {
                "declarations": [
                    { "default": "_", "path": "underscore" }
                ]
            }
        ]
    ]
}
